[submodule "MemKernel"]
	path = MemKernel
	url = https://github.com/Poko-Apps/MemKernel
[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next
	branch = next-susfs
